@import './variables';

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 10px 0;

  .upperPart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    div {
      display: flex;
      column-gap: 20px;
      img {
        width: 85px;
        height: auto;
      }
    }
  }
  
  .lowerPart {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    h1,
    h2 {
      margin: 0;
    }
    h1 {
      text-align: center;
      font-size: 48px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0em;
    }
    h2 {
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
    }
  }

  .steps {
    padding: 40px 0;
    width: 100%;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        column-gap: 20px;
      }
      .currentStep {
        font-weight: 700;
      }
    }

    .stepsSmall {
      padding-bottom: 0;
      li {
        flex-direction: column;
        row-gap: 10px;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    .upperPart,
    .lowerPart {
      width: 90%;
    }
    .steps {
      .stepsSmall {
        display: flex;
        justify-content: space-around;
        font-size: 12px;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    .upperPart {
      .logo {
        width: 106px;
      }
      div {
        img {
          width: 44px;
          height: auto;
        }
      }
    }

    .lowerPart {
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 16px;
      }
    }

    .steps {
      .stepsSmall {
        img {
          width: 20px;
        }
      }
    }
  }
}