
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;

  .upperPart {
    display: flex;
    justify-content: space-between;
    width: 85%;
    div {
      display: flex;
      column-gap: 20px;
      img {
        width: 85px;
        height: auto;
      }
    }
  }
  
  .lowerPart {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    h1,
    h2 {
      margin: 0;
    }
    h1 {
      text-align: center;
      font-size: 48px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0em;
    }
    h2 {
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
    }
  }

  .steps {
    padding: 40px 0;
    width: 85%;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      li {
        display: flex;
        column-gap: 20px;
      }
      .currentStep {
        font-weight: 700;
      }
    }
  }

}