@import './variables';

.navigation {
  background-color: $gray;
  display: flex;
  align-items: center;
  height: 50px;
  
  ul {
    margin: 0;
    display: flex;
    column-gap: 10%;
    width: 100%;
    padding: 0 8%;
    justify-content: center;
    li {
      color: white;
      list-style: none;
      display: flex;
      align-items: center;
      column-gap: 5px;

      img {
        width: auto;
      }
      .navImg1 {
        height: 18px;
      }
      .navImg2 {
        height: 20.1px;
      }
      .navImg3 {
        height: 20.82px;
      }
      .navImg4 {
        height: 20.54px;
      }
      p {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
  
}
